- var title = 'Beyond the Scores'

doctype
html(lang='en')
    include head
    body
        .reveal
            .slides
                section
                    include slides/01-Welcome/01-Welcome
                    include slides/01-Welcome/02-Audience
                section
                    include slides/02-Overview/01-Intro
                    include slides/02-Overview/02-GithubTrends
                    include slides/02-Overview/03-VarietyOfLanguages-Pt1
                    include slides/02-Overview/03-VarietyOfLanguages-Pt2
                    include slides/02-Overview/03-VarietyOfLanguages-Pt3
                    include slides/02-Overview/03-VarietyOfLanguages-Pt4
                    include slides/02-Overview/04-VarietyOfFrameworks-Pt1
                    include slides/02-Overview/04-VarietyOfFrameworks-Pt2
                    include slides/02-Overview/04-VarietyOfFrameworks-Pt3
                    include slides/02-Overview/05-VarietyOfPlatforms
                section
                    include slides/03-Challenges/01-Intro
                    include slides/03-Challenges/02-Scalability-Pt1
                    include slides/03-Challenges/02-Scalability-Pt2
                    include slides/03-Challenges/03-Realtime
                    include slides/03-Challenges/04-MultiPlatform-Pt1
                    include slides/03-Challenges/04-MultiPlatform-Pt2
                    include slides/03-Challenges/04-MultiPlatform-Pt3
                    include slides/03-Challenges/05-LearningCurve-Pt1
                    include slides/03-Challenges/05-LearningCurve-Pt2
                section
                    include slides/04-KeepingUp/01-Intro
                    include slides/04-KeepingUp/02-BuildStuff
                    include slides/04-KeepingUp/03-Community
                    include slides/04-KeepingUp/04-ReadAndListen
                section
                    include slides/05-BeyondTheScores/01-TechStack-Pt1
                    include slides/05-BeyondTheScores/01-TechStack-Pt2
                    include slides/05-BeyondTheScores/02-HTML5
                    include slides/05-BeyondTheScores/03-ResponsiveDesign-Pt1
                    include slides/05-BeyondTheScores/03-ResponsiveDesign-Pt2
                    include slides/05-BeyondTheScores/04-ClubManagement
                    include slides/05-BeyondTheScores/05-Charts
                    include slides/05-BeyondTheScores/06-Reports
                    include slides/05-BeyondTheScores/07-Mobile
                
        include footer
