section
   h2.underline Challenges
   
   .break
      h3 Scalability - Large amounts of data
      
      ul
         li Distributed computing
            ul
               li Distributed file systems
               li Map/Reduce computation
         li Document storage
            ul
               li NoSQL databases (MongoDB, CouchDB, Redis)
               li Full-text Search (Lucene/Solr)