section
   h2.underline Challenges
   
   .break
      h3 Scalability - Concurrent users
      
      ul
         li Scale out, not up
         li Cloud hosting (AWS, Azure)
         li Region servers (CloudFront)
         li Caching, distributed cache