section
   h2.underline Challenges
   
   .break
      h3 Real-time Features
      
      ul
         li Mobile push notifications
         li Pub-Sub (RabbitMQ)
         li Real-time messaging (WebSockets)