section
   h2.underline Challenges
   
   .break
      h3 Real-time Features
      
      ul
         li Low bandwidth, battery
         li Real-time messaging (RabbitMQ)
         li Push notifications (WebSockets, socket.io)