section
   h2.underline Challenges
   
   .break
      h3 Multiple Platforms
      
      ul
         li Mobile apps
         li Multi-Browser support
         li Laptop, Phone, Tablet, Apple Watch
         li HTML5 + progressive enhancement