section
   h2.underline Challenges
   
   .break
      h3 Learning Curve

      ul
         li Developers expected to build on multiple platforms
         li Knowing how to code isn't enough
         li Developers must stay up-to-speed with new ideas