section
   h2.underline Challenges
   
   .break
      h3 Learning Curve

      .break
         ul
            li
               span The gap between what developers know and 
               br
               span what users know is growing wider everyday
            li.break
               span Complex software still needs to be
               br 
               span easy to use and understand