section
	img(src='slides/images/beyondthescores.png' class='no-decoration' width='30%')
	
	div
		a(href='https://jeremyalan.github.io/BeyondTheScores-2014') https://jeremyalan.github.io/BeyondTheScores-2014

	.break
		p Jeremy Mason
		p jeremy@beyondthescores.com
		br

		p Chad Potter
		p chad@beyondthescores.com
