section
	img(src='slides/images/beyondthescores.png' class='no-decoration' width='30%')
	
	div
		a(href='https://jeremyalan.github.io/BeyondTheScores-2015') https://jeremyalan.github.io/BeyondTheScores-2015

	.break.small
		p Jeremy Mason
		p jeremy@beyondthescores.com
		br

		p Chad Potter
		p chad@beyondthescores.com
