section
   h2.underline Variety of Languages

   .break
      ul
         li C#/.NET
         li Java
         li Ruby
         li Python
         li Erlang
         li Haskell
         li JavaScript?
