section
   h2.underline Variety of Frameworks
    
   .break
      h3 Mobile
      
      ul
         li Native (Android, iOS)
         li 
            div Hybrid
            ul
               li PhoneGap
               li jQuery Mobile
               li Ionic
         li
            div Cross-Platform
            ul
               li Xamarin
               li ReactNative